<div class="col-md-10 col-md-offset-1 main">
    <div ng-controller="ScheduleController">
    <!-- start of controller -->
  		<h2 class="page-header">{{section_title}}</h2>
      	<div class="table-responsive">
		  	<table class="table table-hover">
			    <thead>
					<tr>
						<th ng-repeat="header in table_headers" style="text-align: center">{{header}}</th>
					</tr>
			    </thead>
				<tbody>
					<tr ng-repeat="d in schedule">
						<td style="text-align: center">{{d.key}}</td>
						<!-- <td style="text-align: center">{{d.date | date:'yyyy-MM-dd hh:mm:ss a'}}</td> -->
						<td style="text-align: center">{{d.date}}</td>
						<td style="text-align: center">{{d.cost | number:2}}</td>
						<td style="text-align: center">{{d.attendees}}</td>
						<td style="text-align: center">{{d.cost_person}}</td>
						<td style="text-align: center">{{d.paid_by}}</td>
						<td style="text-align: center">{{d.description}}</td>
					</tr>
				</tbody>                
		  	</table>
			<div class="col-xs-1">
				<input type="number" min="1" ng-model="current_page" ng-change="change_page()" class="form-control" placeholder="page">
			</div>
			<ul class="pagination" style="float:right">
				<li><a href="" ng-click="inc_page_num(-1)">Previous</a></li>
				<li><a href="" ng-click="inc_page_num(1)">Next</a></li>
			</ul>
		</div>

		<h2 class="page-header">Simple Balance</h2>
		<h4> <font color="blue">negative number</font> means I owe you $$ </h4> 
		<div class="table-responsive">
		  	<table class="table table-hover">
			    <thead>
					<tr>
						<th style="text-align: center">Users</th>
						<th style="text-align: center">Balance ($)</th>
					</tr>
			    </thead>
				<tbody>
					<tr ng-repeat="d in simple_balance">
						<td style="text-align: center">{{d.name}}</td>
						<!-- <td style="text-align: center">{{d.date | date:'yyyy-MM-dd hh:mm:ss a'}}</td> -->
						<td ng-if="d.balance > 0" style="text-align: center">
							<font color="red">{{d.balance | number:2}}</font>
						</td>
						<td ng-if="d.balance == 0" style="text-align: center">
							{{d.balance | number:2}}
						</td>
						<td ng-if="d.balance < 0" style="text-align: center">
							<font color="blue">{{d.balance | number:2}}</font>
						</td>
					</tr>
				</tbody>                
		  	</table>
		</div>
	<!-- end of controller -->
    </div>
</div>