<div class="col-md-10 col-md-offset-1 main">
    <div ng-controller="BadmintonController">
    <!-- start of controller -->
    	<!-- start of table -->
      <h2 class="page-header">{{section_title}}</h2>
      <div class="table-responsive">
		  <h3> Funds
		    <!-- <span class="label label-primary">count: {{table_count}}</span> -->
		    <span class="label label-success">Total: {{total_funds | number:2}}</span>
		  </h3>
		  <br>

		  <table class="table table-hover">
		    <thead>
		      <tr>
			        <th ng-repeat="header in table_headers" style="text-align: center">{{header}}</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr ng-repeat="d in table_data">
		      	<td style="text-align: center">{{d.b_id}}</td>
		      	<td style="text-align: center">{{d.time | date:'yyyy-MM-dd hh:mm:ss a'}}</td>
		      	<td style="text-align: center">{{d.amount | number:2}}</td>
		      	<td style="text-align: center">{{d.balance | number:2}}</td>
		      	<td style="text-align: center">{{d.description}}</td>
		        <td style="text-align: center">{{d.user}}</td>
		      </tr>
		    </tbody>                
		  </table>
			<div class="col-xs-1">
			<input type="number" min="1" ng-model="current_page" ng-change="change_page()" class="form-control" placeholder="page">
			</input>
			</div>
		  <ul class="pagination" style="float:right">
		    <li><a href="" ng-click="inc_page_num(-1)">Previous</a></li>
		    <li><a href="" ng-click="inc_page_num(1)">Next</a></li>
		  </ul>
		</div>
		<!-- end of table -->

		<div id="pie" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
		<div id="bar"></div>

    <!-- end of controller -->
    </div>
</div>