<div class="col-md-10 col-md-offset-1 main" ng-controller="DashboardController">
    <h1 class="page-header">{{section_title}}</h1>

    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th style="text-align: center">IP</th>
            <th style="text-align: center">Serial</th>
            <th style="text-align: center">Version</th>
            <th style="text-align: center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="d in dashboard_data">
            <td style="text-align: center">{{d.ip}}</td>
            <td style="text-align: center">{{d.serial}}</td>
            <td style="text-align: center">{{d.version}}</td>
            <td style="text-align: center">
                <button ng-click="to_detail(d.serial)" type="button" class="btn btn-success btn-sm">dpi stats</button>
                <button ng-click="to_chart(d.serial)" type="button" class="btn btn-warning btn-sm">system stats</button>
            </td>
          </tr>
        </tbody>
      </table>

<!--       <div class="col-sm-offset-10">
        <button type="button" class="btn btn-primary">Add New Middlware</button>
      </div> -->

    </div>
</div>