<div class="table-responsive">
  <h3> Dpi Stats
    <span class="label label-primary">count: {{table_count}}</span>
    <span class="label label-warning">page: {{current_page}}</span>
    <!-- <span ng-if="search_validation==true"class="label label-success">search: valid</span> -->
    <!-- <span ng-if="search_validation==false"class="label label-danger">search: invalid</span> -->
    <span class="label label-success">params: {{params}}</span>
  </h3>
  <br>
  <input ng-model="search_val" ng-change="update_search()" ng-model-options="{debounce:250}" type="text" class="form-control" placeholder="{{placeholder_text}}"><br>
  <table class="table table-hover">
    <thead>
      <tr>
	        <th ng-repeat="header in table_headers" style="text-align: center">{{header}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="d in table_data">
      	<td style="text-align: center">{{d.time | date:'yyyy-MM-dd HH:mm:ss'}}</td>
        <td style="text-align: center">{{d.box_id}}</td>
        <td ng-if="d.status=='online'" style="text-align: center">
        	<h4>
        		<span class="label label-success">
        		{{d.status}}
        		</span>
        	</h4>
        </td>
        <td ng-if="d.status=='offline'" style="text-align: center">
        	<h4>
        		<span class="label label-danger">
        			{{d.status}}
        		</span>
        	</h4>
        </td>
      </tr>
    </tbody>                
  </table>
<!--   <div class="row">
    <div class="col-xs-1">
      <input class="input" type="number" min="1" ng-model="current_page" ng-change="change_page()" placeholder="go"></input>
    </div>
  </div> -->
    <div class="col-xs-1">
      <input type="number" min="1" ng-model="current_page" ng-change="change_page()" class="form-control" placeholder="page">
      </input>
    </div>
  <ul class="pagination" style="float:right">
    <li><a href="" ng-click="inc_page_num(-1)">Previous</a></li>
    <li><a href="" ng-click="inc_page_num(1)">Next</a></li>
  </ul>
</div>