<section class="content-header">
	<h1>
        API Call
        <small>Calls RestAPI and gets response</small>
    </h1>
</section>

<section class="content">

	<div class="row">
		<div class="col-xs-11">
			<div class="box box-success">
				<div class="box-body">
					<form ng-submit="setMwIp(selectedIp, selectedHostname)">
						<div class="col-xs-1">
							<label>Protocol</label>
							<select class="form-control" ng-model="selected_protocol" ng-options="p for p in protocols">                
					        </select>
			            </div>

			            <div class="col-xs-2">
							<label>IP/Domain Name</label>
							<input type="text" ng-model="ip" class="form-control"/>
			            </div>

			            <div class="col-xs-7">
							<label>API URL</label>
							<input type="text" ng-model="api_url" class="form-control"/>
			            </div>

			            <div class="col-xs-1">
							<label>Method</label>
							<select class="form-control" ng-model="selected_method" ng-options="m for m in methods"></select>
			            </div>

			            <div class="col-xs-1">
							<input type="submit" value="Send" style="margin-top:25px" class="btn btn-block btn-success">
						</div>
						<div class="form-group col-xs-12">
						<br>
		                  	<textarea class="form-control" ng-model="data" rows="30" placeholder="Response from server"></textarea>
		                </div>
	                </form>
				</div>
			</div>
		</div>
	
	</div>
          
</section>
