<section class="content-header">
    <h1>
        Kafka Simulator
        <small>Sends kafka data to anywhere you want!</small>
    </h1>
</section>

<section class="content">
	<div class="col-xs-6">
		<div class="box box-success">
			<div class="box-body">
				<form ng-submit="sendToKafka(selectedIp, selectedLog, selectedTopic)">
					<div class="col-xs-3">
						<label>Enter IP (Developer)</label>
						<autocomplete ng-model="selectedIp" data="devIpList"></autocomplete>
		            </div>
		            <div class="col-xs-4">
		                <label>Select replayable data</label>
		                <select class="form-control" ng-model="selectedLog" ng-options="log for log in logs"></select>
		            </div>
		            <div class="col-xs-3">
		                <label>Select topic</label>
		                <select class="form-control" ng-model="selectedTopic" ng-options="topic for topic in topics"></select>
		            </div>
		            <div class="col-xs-2">
						<input type="submit" value="Send" style="margin-top:25px" ng-if="sending==false" class="btn btn-block btn-success"></input>
						<input type="submit" value="Sending.." style="margin-top:25px" ng-if="sending==true" class="btn btn-block btn-warning"></input>
					</div>
					<div class="form-group col-xs-12">
					<br>
	                  	<textarea class="form-control" ng-model="sendFlowRes" rows="5" placeholder="Response from server" disabled></textarea>
	                </div>
                </form>

                <form ng-submit="sendToKafkaProd(selectedIpProd, selectedLogProd, selectedTopicProd)">
					<div class="col-xs-3">
						<label>Enter IP (Production)</label>
						<autocomplete ng-model="selectedIpProd" data="mwIpList"></autocomplete>
		            </div>
		            <div class="col-xs-4">
		                <label>Select replayable data</label>
		                <select class="form-control" ng-model="selectedLogProd" ng-options="log for log in logs"></select>
		            </div>
		            <div class="col-xs-3">
		                <label>Select topic</label>
		                <select class="form-control" ng-model="selectedTopicProd" ng-options="topic for topic in topics"></select>
		            </div>
		            <div class="col-xs-2">
						<input type="submit" value="Send" style="margin-top:25px" ng-if="sendingProd==false" class="btn btn-block btn-success"></input>
						<input type="submit" value="Sending.." style="margin-top:25px" ng-if="sendingProd==true" class="btn btn-block btn-warning"></input>
					</div>
					<div class="form-group col-xs-12">
					<br>
	                  	<textarea class="form-control" ng-model="sendFlowResProd" rows="5" placeholder="Response from server" disabled></textarea>
	                </div>
                </form>
			</div>
		</div>
	</div>

	<div class="col-xs-5">
		<div class="box box-success">
			<div class="box-header">
				<h3 class="box-title">Hosts</h3>
			</div>
			
			<div class="box-body table-responsive no-padding">
				<table class="table table-hover">
					<tbody>
						<tr>
							<th>IP</th>
							<th>Hostname</th>
							<th>Status</th>
							<th>Change Status</th>
						</tr>
						<tr ng-repeat="h in hosts">
							<td>{{h.ip}}</td>
							<td>{{h.hostname}}</td>
							<td><span class="label label-success">Approved</span></td>
							<td>{{h.hostname}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="col-xs-6">
		<div class="box box-success">
			<div class="box-header">
				<h3 class="box-title">Flow Rate Simulator</h3>
			</div>
			<div class="box-body">
				<form ng-submit="sendToKafkaRate(selectedIpRate, selectedRate)">
					<div class="col-xs-3">
						<label>Enter IP (Developer)</label>
						<autocomplete ng-model="selectedIpRate" data="devIpList"></autocomplete>
		            </div>
		            <div class="col-xs-3">
		                <label>Select rate</label>
		                <input type="number" ng-model="selectedRate" class="form-control" onkeypress="return isNumberKey(event)">
		            </div>
		            <div class="col-xs-2">
						<input type="submit" value="Send" style="margin-top:25px" ng-if="sendingRate==false" class="btn btn-block btn-success"></input>
						<input type="submit" value="Sending.." style="margin-top:25px" ng-if="sendingRate==true" class="btn btn-block btn-warning"></input>
					</div>
					<div class="form-group col-xs-12">
					<br>
	                  	<textarea class="form-control" ng-model="sendFlowResRate" rows="5" placeholder="Response from server" disabled></textarea>
	                </div>
                </form>
			</div>
		</div>
	</div>
</section>
<script>
	function isNumberKey(evt){
	    var charCode = (evt.which) ? evt.which : event.keyCode
	    if (charCode > 31 && (charCode < 48 || charCode > 57))
	        return false;
	    return true;
	}    
</script>