<section class="content-header">
	<h1>
        Kafka Reader
        <small>Reads kafka queues on any machine!</small>
    </h1>
</section>

<section class="content" ng-controller="KafkaReaderController">
	<div class="col-xs-8">
		<div class="box box-success">
			<div class="box-body">
				<form ng-submit="readKafka(selectedIp, selectedTopic)">
					<div class="col-xs-3">
						<label>Select IP</label>
						<autocomplete ng-model="selectedIp" data="ipList"></autocomplete>
		            </div>
		            <div class="col-xs-3">
						<label>Select Topic</label>
						<select class="form-control" ng-model="selectedTopic" ng-options="topic for topic in topics"></select>
		            </div>
		            <div class="col-xs-3">
						<input type="submit" value="Read" style="margin-top:25px" class="btn btn-block btn-success">
					</div>
					<div class="form-group col-xs-12">
					<br>
	                  	<textarea class="form-control" ng-model="response" rows="30" placeholder="Response from server"></textarea>
	                </div>
                </form>
			</div>
		</div>
	</div>

	<div class="col-xs-3">
		<div class="box box-success">
			<div class="box-header">
				<h3 class="box-title">MW Box List</h3>
			</div>
			
			<div class="box-body table-responsive no-padding">
				<table class="table table-hover">
					<tbody>
						<tr>
							<th>IP</th>
							<th>Hostname</th>
							<th>Status</th>
						</tr>
						<tr ng-repeat="h in hosts">
							<td>{{h.ip}}</td>
							<td>{{h.hostname}}</td>
							<td><span class="label label-success">Online</span></td>
						</tr>						
					</tbody>
				</table>
			</div>
		</div>
	</div>          
</section>
