<div class="table-responsive">
  <br>
  <input ng-model="search_val" ng-change="update_search()" ng-model-options="{debounce:250}" type="text" class="form-control" placeholder="{{table_info.placeholder_search_text}}"><br>
  <!-- <div ng-include="'assets/table/tabledata.html'"></div> -->
  <div ng-include="table_info.table_page"></div>
  <div class="col-xs-1">
    <input type="number" min="1" ng-model="current_page" ng-change="change_page()" class="form-control" placeholder="page">
    </input>
  </div>
  <ul class="pagination" style="float:right">
    <li><a href="" ng-click="inc_page_num(-1)">Previous</a></li>
    <li><a href="" ng-click="inc_page_num(1)">Next</a></li>
  </ul>
</div>