<table class="table table-hover">
<thead>
  <tr>
    <th ng-repeat="header in table_info.headers" style="text-align: center">{{header}}</th>
  </tr>
</thead>
<tbody>
  <!-- <div ng-include="'assets/table/tabledata.html'"></div> -->
  <tr ng-repeat="d in table_data">
    <td style="text-align: center">{{d.fv_id}}</td>
    <td style="text-align: center">{{d.picture | date:'yyyy-MM-dd hh:mm:ss a'}}</td>
    <td style="text-align: center">{{d.amount | number:2}}</td>
    <td style="text-align: center">{{d.balance | number:2}}</td>
    <td style="text-align: center">{{d.description}}</td>
    <td style="text-align: center">{{d.user}}</td>
  </tr>
</tbody>                
</table>