<div class="col-md-10 col-md-offset-1 main">
    <div ng-controller="ScheduleController">
    <!-- start of controller -->
  		<h2 class="page-header">{{section_title}}</h2>
  		<div class="form-group">
			<label for="usr">Name:</label>
			<input ng-model="input_name" type="text" class="form-control">
		</div>
  		<button ng-click="add_one(input_name)" type="button" class="btn btn-success">Insert</button>
      	<div class="table-responsive">
		  	<table class="table table-hover">
			    <thead>
					<tr>
						<th ng-repeat="header in table_headers" style="text-align: center">{{header}}</th>
					</tr>
			    </thead>
				<tbody>
					<tr ng-repeat="d in schedule">
						<td style="text-align: center">{{d._id}}</td>
						<td style="text-align: center">{{d.name}}</td>
						<td><button ng-click="delete_one(d._id)" type="button" class="btn btn-danger">delete</button></td>
					</tr>
				</tbody>                
		  	</table>
		</div>
	<!-- end of controller -->
    </div>
</div>