   

<section class="content-header">
 <h1>Match Schedule</h1>
</section>

<section class="content">

	<div class="row">
		<div class="col-md-12">
		<ul class="timeline">

			<li class="time-label">
				<span class="bg-red">August 7, 2015</span>
      </li>

      <li>
        <i class="fa fa-flag-checkered bg-red"></i>
        <div class="timeline-item">
          <h3 class="timeline-header"><a href="#">Admin</a> says:</h3>
          <div class="timeline-body">
            Match start!!!
          </div>
        </div>
      </li>

      <li class="time-label">
        <span class="bg-green">4:00PM</span>
      </li>
              
      <li>
        <i class="fa fa-flag-checkered bg-blue"></i>
        <div class="timeline-item">
          <h3 class="timeline-header"><a href="#">Team 6:30 vs No Name</a></h3>
          <div class="timeline-body">
            Edward Ray <br>
            Moein Richard
          </div>
        </div>
      </li>  

    </ul>
  </div>
</div>

          
</section>
